@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>#100DaysOfCode</title>
        <link href="~/css/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    </head>
    <body>
        <div class="text-div">
        <img src="https://media.licdn.com/dms/image/v2/D4D03AQGK6rRxX3M0aw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1708099875068?e=2147483647&v=beta&t=zmLmh7gFWieDim40J91Zeup-H60NmOLpovq-C1SSssk" alt="an image of myself" />
            <h2 class="gradient-text second-heading">Hi, I'm Clint.</h2>
            <h1 class="gradient-text first-heading">This is my <a href="#">#100DaysOfCode</a></h1>
            <h2 class="gradient-text first-heading socials">
                <a href="https://twitter.com/clintmbambo/status/1850223869900267713" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://youtube.com/@@clintmbambo" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://github.com/clintmbambo" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://za.linkedin.com/in/clint-mbambo-183ba72a3?original_referer=https%3A%2F%2Fwww.linkedin.com%2F" target="_blank"><i class="fab fa-linkedin"></i></a>
            </h2>
        </div>
    </body>
</html>